div {
  background-color: #c5f9d6;
}
#SeccionAhorcado {
  background-color: #c5f9d6;
  border-radius: 10px;

  text-align: center;
  width: 100%;

  height: auto;
  display: flex;

  flex-direction: row;
  align-items: flex-start;
  margin: 20px;
  justify-content: space-around;
}
#SeccionAhorcado > h2 {
  color: black;
  font-size: 35px;
}
#SeccionAhorcado > h3 {
  color: black;
  font-size: 25px;
}
#palabra {
  font-size: 25px;
  margin: 20px 0;
}
#mensaje {
  color: black;
  margin-top: 20px;
  font-size: 20px;
}
#mensajeVP {
  font-size: 20px;
}

#SeccionAhorcado > #ahorcadoImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 300px;
  margin-right: 20px;
}
#ahorcadoImgContainer > img {
  height: 100%;
  width: 100%;
}
#controles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#guess {
  font-size: 15px;
  margin: 10px;
  width: 190px;
  padding: 5px;
  margin-bottom: 10px;
}
#botones {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
#botones > .btnInicio {
  font-size: 15px;
  margin: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4c2c2;
}
#botones > .btnInicio:hover {
  background-color: #afeeed;
}
#botones > .btnReiniciar {
  font-size: 15px;
  margin: 15px;
  padding: 10px;
  border-radius: 4px;
  background-color: #f4c2c2;
  color: black;
  border: none;
}
#botones > .btnReiniciar:hover {
  background-color: #afeeed;
}
#botones > .btnAdivinar {
  font-size: 15px;
  margin: 15px;
  padding: 10px;
  border-radius: 4px;
  background-color: #f4c2c2;
  color: black;
  border: none;
}
#botones > .btnAdivinar:hover {
  background-color: #afeeed;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 900px) and (min-width: 500px) {
  #SeccionAhorcado {
    margin: 10px;
    justify-content: space-around;
  }
  #SeccionAhorcado > #ahorcadoImgContainer {
    width: 200px;
    height: 200px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 500px) {
  #SeccionAhorcado > #ahorcadoImgContainer {
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-top: 50px;
  }
  #SeccionAhorcado > h2 {
    font-size: 25px;
  }
  #SeccionAhorcado > h3 {
    color: black;
    font-size: 15px;
  }
  #palabra {
    font-size: 15px;
  }
  #mensaje {
    font-size: 10px;
  }
  #mensajeVP {
    font-size: 10px;
  }
  #guess {
    font-size: 15px;
    width: 160px;
  }
  #botones > .btnInicio {
    font-size: 10px;
    margin: 10px;
    padding: 5px;
  }
  #botones > .btnReiniciar {
    font-size: 10px;
    margin: 10px;
    padding: 5px;
  }
  #botones > .btnAdivinar {
    font-size: 10px;
    margin: 10px;
    padding: 5px;
  }
}
