body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#ContainerJuegos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
