#SeccionMemory > h2 {
  color: black;
  text-align: center;
  margin-bottom: 5px;
}
#SeccionMemory {
  gap: 10px;
  margin-top: 20px;
}
.tablaContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
.Carta {
  width: 130px;
  height: 130px;
  position: relative;
  transition: transform 0.3s ease;
}
.Carta > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s ease;
}
.Carta:hover {
  transform: scale(1.1);
}
#SeccionMemory > .btnInicio {
  font-size: 20px;
  margin: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4c2c2;
}
#SeccionMemory > .btnInicio:hover {
  background-color: #afeeed;
}
#SeccionMemory > h3 {
  display: flex;
  justify-content: center;
  font-size: larger;
}
@media screen and (min-width: 480px) and (max-width: 600px) {
  #SeccionMemory > h2 {
    font-size: 35px;
  }
  .tablaContainer {
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
  }
  .Carta {
    width: 100px;
    height: 100px;
  }
  #SeccionMemory > .btnInicio {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  #SeccionMemory > h2 {
    font-size: 25px;
  }
  .tablaContainer {
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(4, 0.5fr);
  }
  .Carta {
    width: 90px;
    height: 90px;
  }
}
