@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #feffd6;
  margin: 0;
}

.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.portada > h1 {
  font-size: 45px;
}
.portada > #boton {
  font-size: 35px;
}
.portada > #botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .portada > h1 {
    font-size: 35px;
  }
  .portada > #botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
