@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
div {
  background-color: #c5f9d6;
}
#seccionTresRaya {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #c5f9d6;
}
h2 {
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

#juegoContainer {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin-top: 20px;
}
#estadoContainer {
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
}
.casilla {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid #000;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#seccionTresRaya > .btnInicio {
  font-size: 15px;
  margin: 15px;
  padding: 10px;
  background-color: #f4c2c2;
  font-weight: 500;
}
#seccionTresRaya > .btnReinicio {
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(43, 2, 74);
  color: black;
  border: none;
  background-color: #f4c2c2;
}
#seccionTresRaya > .btnReinicio:hover {
  background-color: #afeeed;
}
#seccionTresRaya > .btnInicio:hover {
  background-color: #afeeed;
}
@media screen and (max-width: 500px) {
  h2 {
    font-size: 30px;
  }
  .casilla {
    width: 80px;
    height: 80px;
  }
  #juegoContainer {
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
  }
}
